#Donut_puffin ledcontroller init config

on boot
    chown ledcontroller ledcontroller /sys/bus/i2c/devices/0-003f/boot_animation
    chown ledcontroller ledcontroller /sys/bus/i2c/devices/0-003f/led_current
    chown ledcontroller ledcontroller /sys/bus/i2c/devices/0-003f/frame
    chown ledcontroller ledcontroller /proc/idme/alsparams
    chown ledcontroller ledcontroller /sys/class/pwm/pwmchip0/pwm1/period
    chown ledcontroller ledcontroller /sys/class/pwm/pwmchip0/pwm1/duty_cycle
    chown ledcontroller ledcontroller /sys/class/pwm/pwmchip0/pwm1/enable

on property:ledcontroller.restart=1
    restart ledcontroller

